In [3]:
import sqlite3

In [4]:
# Connecting to sqlite database
conn = sqlite3.connect("students.db")

In [5]:
# cursor object
cursor = conn.cursor()

In [6]:
cursor.execute("DROP TABLE IF EXISTS STUDENT")

In [7]:
query = """CREATE TABLE STUDENT (
            ID INT PRIMARY KEY NOT NULL,
            NAME CHAR(20) NOT NULL,
            ROLL CHAR(20) NOT NULL,
            ADDRESS CHAR(50),
            CLASS CHAR(20))"""

In [8]:
cursor.execute(query)

In [9]:
select_query = """SELECT * FROM STUDENT"""

In [14]:
cursor.execute(select_query)

In [15]:
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (1, 'John', '001', 'Bangalore', '10th')")

In [16]:
conn.execute("INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) "
             "VALUES (2, 'Naren', '002', 'Hyd', '12th')")

In [17]:
conn.commit()

In [18]:
query = ('INSERT INTO STUDENT (ID,NAME,ROLL,ADDRESS,CLASS) '
         'VALUES (:ID, :NAME, :ROLL, :ADDRESS, :CLASS);')
params = {
        'ID': 3,
        'NAME': 'Jax',
        'ROLL': '003',
        'ADDRESS': 'Delhi',
        'CLASS': '9th'
    }

In [19]:
conn.execute(query,params)

In [24]:
conn.execute(select_query).fetchall()

[(1, 'John', '5', 'Bangalore', '10th'),
 (2, 'Naren', '002', 'Hyd', '12th'),
 (3, 'Jax', '003', 'Delhi', '9th')]

In [21]:
conn.execute("UPDATE STUDENT set ROLL = 005 where ID = 1")

In [25]:
conn.execute("DELETE from STUDENT where ID = 2;")
conn.commit()
cursor = conn.execute("SELECT * from STUDENT")
print(cursor.fetchall())

[(1, 'John', '5', 'Bangalore', '10th'), (3, 'Jax', '003', 'Delhi', '9th')]